* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 62.5%;
}

body {
  height: 100vh;
  display: grid;
  grid-template-rows: max-content 1fr;
  font-size: 1.6rem;
  font-family: sans-serif;
}

body * {
  text-transform: capitalize;
}

header {
  padding: 1.6rem;
  background: white;
  box-shadow: hsl(0, 0%, 0%, .2) 0.5px 0 10px;
}

nav {
  width: 100%;
  display: flex;
  justify-content: space-around;
}

nav h4 {
  color: lightblue;
}

ul {
  display: flex;
  gap: 2.4rem;
  list-style: none;
}

li a {
  text-decoration: none;
  color: black;
  transition: 0.2s ease;
}

li a:hover {
  color: lightblue;
}

#btn {
  text-transform: uppercase;
}

#app {
  padding: 4rem;
  display: grid;
  place-content: center;
}

.container {
  text-align: center;
}

.container h2 {
  padding: 1.6rem;
  margin-bottom: 1.6rem;
  border-radius: .4em;
  font-size: 4.8rem;
  background: black;
  color: white;
}

#btn {
  padding: .8rem 2.4rem;
  border: 1px solid black;
  border-radius: .8rem;
  font-size: 2.4rem;
  background-color: transparent;
  transition: .3s ease;
  box-shadow: hsl(0, 0%, 0%, .2) .5px 0 10px;
}

#btn:hover {
  background-color: black;
  color: white;
  padding: .8rem 3.2rem;
} 
