* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 62.5%;
}

button {
  width: 3.2rem;
  height: 3.2rem;
  border: none;
  font-size: 3.2rem;
  cursor: pointer;
  background: transparent;
}

body {
  height: 100vh;
  position: relative;
  font-size: 2.4rem;
  font-family: sans-serif;
}

#btn-sidebar {
  position: absolute;
  right: 4rem;
  top: 4rem;
  width: 3.2rem;
  height: 3.2rem;
  font-size: 3.2rem;
  color: hsl(270, 80%, 50%);
  animation: heartbeat 1s ease infinite;
}

aside {
  position: relative;
  left: 0;
  top: 0;
  width: 44rem;
  height: 100%;
  display: grid;
  grid-template-rows: auto 1fr auto;
  box-shadow: 1px 0 10px hsla(0, 0%, 0%, 0.2);
  transition: 0.2s ease;
  transform: translate(-100%);
}

.show-sidebar {
  transform: translate(0);
}

aside div {
  padding: 4rem;
}

#btn-close {
  transition: 0.2s ease;
  color: hsl(270, 80%, 50%);
}

#btn-close:hover {
  transform: scale(1.1);
  color: hsl(270, 80%, 80%);
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: black;
}

.logo {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.pages li {
  padding: 2rem 4rem;
  transition: .2s ease;
}

.pages li:hover {
  background: hsl(270, 80%, 90%);
}

.links {
  display: flex;
  justify-content: space-around;
}

@keyframes heartbeat {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}
