* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 62.5%;
  --hue: 195;
  --tt-primary-color: hsl(0, 0%, 0%) 00;
  --tt-second-color: hsl(var(--hue), 50%, 70%);
  --bg-medias: hsl(var(--hue), 50%, 50%);
  --bg-medias-hover: hsl(var(--hue), 50%, 70%);
}

body {
  font-size: 1.6rem;
  font-family: sans-serif;
  letter-spacing: 0.4rem;
}

header,
ul {
  display: flex;
}

header {
  justify-content: space-between;
  align-items: center;
  padding: 2rem;
  box-shadow: hsla(0, 0%, 0%, 0.1) 0 1px 10px;
}

.btn-navbar {
  display: none;
  margin-left: auto;
  border: none;
  font-size: 2.4rem;
  background: none;
  transition: .3s ease;
}

.btn-navbar:hover {
  color: var(--tt-second-color);
  transform:rotate(90deg);
}

ul {
  list-style: none;
}

.navigation {
  gap: 1.6rem;
}

a {
  text-decoration: none;
  color: var(--tt-primary-color);
  transition: 0.2s ease;
}

a:hover {
  color: var(--tt-second-color);
}

.social-media li {
  color: var(--bg-medias);
  transition: 0.2s ease;
}

.social-media li:hover {
  color: var(--bg-medias-hover);
}

@media (max-width: 786px) {
  .navigation,
  .social-media {
    display: none;
  }

  .btn-navbar {
    display: initial;
  }
}
