* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: sans-serif;
  letter-spacing: 3px;
}

.nav-center {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem;
  box-shadow: hsla(0, 0%, 0%, 0.1) 0 1px 10px;
}

button {
  display: none;
  background: none;
  border: none;
  font-size: 2.4rem;
  transition: 0.4s ease;
}

button:hover {
  transform: rotate(90deg);
  cursor: pointer;
}

ul {
  display: flex;
  list-style: none;
}

.links {
  gap: 2.4rem;
}

.social-icons {
  gap: 0.6rem;
}

.links a {
  font-size: 1.4rem;
}

a {
  text-decoration: none;
  color: black;
}

@media (max-width: 768px) {
  .nav-center {
    align-items: start;
    flex-direction: column;
    padding: 0;
  }

  .nav-header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 2rem;
  }

  button {
    display: initial;
  }

  .links {
    width: 100%;
    flex-direction: column;
    gap: 0;
    height: 0;
    overflow: hidden;
    transition: all 0.2s linear;
  }

  .show-links {
    height: 16rem;
  }

  .links li {
    width: 100%;
    padding: 1rem 2rem;
    transition: 0.3s ease;
  }

  .links li:hover {
    padding-left: 3.2rem;
    color: hsl(195, 53%, 79%);
    background: hsl(195, 53%, 79%);
  }

  .social-icons {
    display: none;
  }
}
